.header {
  display: flex;
  padding-bottom: 0.75rem;
  line-height: var(--post-header-line-height);
  font-size: var(--post-header-font-size);
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
}

.avatar {
  position: relative;
  height: 48px;
  width: 48px;
}
.avatarOverflow {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 9999px;
}
.avatarSquare {
  border-radius: 4px;
}
.avatarShadow {
  height: 100%;
  width: 100%;
  transition-property: background-color;
  transition-duration: 0.2s;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 2px inset;
}
.avatarShadow:hover {
  background-color: rgba(26, 26, 26, 0.15);
}

.author {
  max-width: calc(100% - 84px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;
}
.authorLink {
  text-decoration: none;
  color: inherit;
  width: max-content;
}
.authorLink:hover {
  text-decoration-line: underline;
}
.authorLinkText {
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.authorMeta {
  display: flex;
}
.username {
  color: var(--post-font-color-secondary);
  text-decoration: none;
  text-overflow: ellipsis;
}

.spacer {
  flex: 1 1 0%;
}

.brand {
  position: absolute;
  right: 0.75rem;
  z-index: 1;
}

.blueskyIcon {
  height: 32px;
  width: max-content;
  user-select: none;
}
.blueskyIcon:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
